*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: sans-serif;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:10rem;
}
.todo-heading{
    color:blue;
    font-size: 4rem;
    margin-bottom: 3rem;
    letter-spacing: 0.5rem;
}
.input-control{
    width:45rem;
    height:4rem;
    outline:none;
    border:none;
    border-radius:0.5rem solid green;
    padding-left: 1rem;
    background-color: aliceblue;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.add-todo{
    background-color: blue;
    border:none;
    outline:none;
    padding: 1rem 2rem;
    font-size: 1.6rem;
}
.add-todo:hover{
    background-color: #0000ff7e;
}
.todo-lists{
    list-style-type: none;
    margin-bottom: 1rem;
    position:relative;
}
.todo-item{
    width:52.5rem;
    height: 4rem;
    padding-left: 1rem;
    background-color:ivory;
    outline:none;
    font-size: 1.6rem;
    border:0.1rem solid brown;
    
}
.todo-item:focus{
    border:0.1rem solid blue;
}
.btn-container{
    position:absolute;
    right: 0.3rem;
    top: 0.3rem;
}
.edit-btn{
    background-color: blue;
    color:black;
    font-size: 1.6rem;
    outline:none;
    border:none;
    width:7rem;
    height:3.5rem;
    margin-right:0.5rem;
}
.edit-btn:hover{
    background-color: #0000ffa6;
}
.del-btn{
    background-color: red;
    color:black;
    font-size: 1.6rem;
    outline:none;
    border:none;
    width:7rem;
    height:3.5rem;
}
.del-btn:hover{
    background-color: #ff00005e;
}
@media (max-width:533px){
    body{
        margin-top: 5rem;
    }
    .input-control{
        width:40rem;
    }
    .todo-item{
        width:47.5rem;
    }
}
@media (max-width:477px){
    .input-control{
        width:35rem;
    }
    .todo-item{
        width:42.5rem;
    }
}
@media (max-width:430px){
    .input-control{
        width:30rem;
    }
    .todo-item{
        width:37.5rem;
    }
}
@media (max-width:391px){
    .input-control{
        width:25rem;
    }
    .todo-item{
        width:32.5rem;
    }
}
@media (max-width:337px){
    body{
        margin-top: 3rem;
    }
    .input-control{
        width:20rem;
    }
    .todo-item{
        width:27.5rem;
    }
}
@media (max-width:280px){
    .todo-heading{
        letter-spacing: 0rem;
        font-size:3rem;
    }
}